<h1>Edit post!</h1>
<br><br>

<form class="" action="<%=post_url(@post)%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>
  <label>Edit Title</label>
  <input type="text" name="post[title]" value="<%=@post.title%>">
  <label>Edit Content</label>
  <input type="text" name="post[content]" value="<%=@post.content%>">
  <label>Edit Url</label>
  <input type="text" name="post[url]" value="<%=@post.url%>">
  <input type="hidden" name="post[sub_id]" value="<%=@post.sub_id%>">


  <input type="submit" name="" value="edit post">
</form>
